<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="IsDebug" value="true" />
  
    <add key="BiostimeDataCaptureConnection" value="SERVER=192.168.0.183; User Id=sa; pwd=edoc2;DATABASE=BiostimeDataCapture;" />
    <!--EDoc2V4数据库链接-->
    <add key="EDoc2V4Connection" value="SERVER=.; User Id=sa; pwd=123;DATABASE=EDoc2V4;" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
